/* ----------------------------------

Name: main.css
Version: 1.0

-------------------------------------

Table of contents
        
    01. Navbar
    02. Slider
    03. Features
    04. Some Facts
    05. Project
    06. Video
    07. Portfolio
    08. Benifits
    09. Team
    10. Get Started
    11. Testimonials
    12. Project-2
    13. Our Price
    14. Clients
    15. Contact Us
    16. Footer
    17. Page Loading
    18. Media Query
*/

body {
    font-family: 'Nunito', sans-serif;
    background: #f9faff;
}

/*--------------------------------------------------
[1. Start Navbar]
--------------------------------------------------*/
.navbar {
    padding: 0px;
    background: transparent !important;
    
}
 .navbar .logoSmall{
     margin-bottom: -6px;
 }
.navbar-red {
    background: rgb(0,0,0) !important;
}

.navbar-transparent {
    background: transparent !important;
}

/* .light-gradient{
    background: linear-gradient(to bottom, #70c5f280 0%,#6A90EF 100%);
} */
/* .dark-gradient{
    background: #4F8AED !important;
} */

.navbar .nav-item {
    padding: 0;
    margin: 0;
}
.navbar .nav-item .nav-link {
    padding: 0;
    margin: 0 0 0 45px;
    font-size: 15px;
    color: #ffffff;
    text-shadow: 1px 1px #000;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}
.navbar .nav-item .nav-link:hover {
    color: #fff;
}
.navbar .btn-1 {
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 45px;
    transition: all 0.2s ease-in;
}
.navbar .btn-2 {
    
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    border: 1px solid #fff;
    text-decoration: none;
    color: #ffffff;
    /* text-shadow: 1px 1px #000; */
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 45px;
    transition: all 0.2s ease-in;
}
.navbar .btn-1:hover {
    background: #fff;
    /* border: 2px solid #10d596; */
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0);
    color: #10d596;

}
.navbar .btn-2:hover {
    background: #fff;
    /* border: 2px solid #10d596; */
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0);
    color: #10d596;
}
/*--------------------------------------------------
[2. Start Slider]
--------------------------------------------------*/
.slider {
   
    background-image: url("../images/img/creators/CreatorBlogBackground.png");
    background-size: cover;
    height: 610px;
    width: 100%;
}
.slider .content {
    margin-top: 40px;
}
.slider .content .right video{
    width: 100%;
    margin-top: 50px;
}
.slider .content .left h1 {
    font-size: 60px;
    font-weight: bold;
    font-weight: 400;
    color: #ffffff;
    line-height: 55px;
    margin: 0;
    padding: 0;
}
.slider .content .left strong{
    margin-top: 10px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0 ,0, 0.1);
}
.slider .content .left h2 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    line-height: 26px;
    padding: 0;
    margin: 10px 0 20px;
}
.slider .content .left .btn-1 {
    background: rgb(26, 58, 129);
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom:20px;
    display: inline-block;
}
.slider .content .left .btn-2 {
    background: transparent;
    border: 1px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 45px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 610px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.35);
    z-index: 1;
    cursor: pointer;
}
.button-changes{
    background: #802456;
    margin-top: 20px ;
    border: none;
    color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*--------------------------------------------------
[3. Start Features]
--------------------------------------------------*/
.features {
    background: url("../img/bg/feature-bg.png") top center no-repeat;
    background-size: cover;
    padding: 60px 0;
}
.features .heading {
    font-size: 30px;
    color: #3b566e;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.features .line {
    background: linear-gradient(to right, #3061ad 0%,#2696da 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.features .box {
    background: #ffffff;
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.05);
    border-radius: 15px;
    padding: 60px 30px;
    transition: all .4s ease-in-out;
}
.features .box img{
    height: 90px;
}
.features .box:hover {
    transform: translateY(-15px);
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.09);
}
.features .box h3 {
    font-size: 20px;
    color: #3b566e;
    font-weight: 600;
    margin: 25px 0 15px;
    padding: 0;
}
.features .box p {
    font-size: 15px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.creator-image-height{
    height: 320px;
}

/*--------------------------------------------------
[4. Start Some Facts]
--------------------------------------------------*/
.some-facts {
    background: #151a2b;
    background-size: cover;
    padding: 64px 0;
}
.some-facts .items h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    padding: 0;
    margin: 20px 0 2px;
}
.some-facts .items h4 {
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.some-facts .items img{
    height: 45px;
}
/*--------------------------------------------------
[5. Start Project]
--------------------------------------------------*/
.project {
    padding: 60px 0;
}
.project .right span {
    font-size: 16px;
    color: #557ff5;
    font-weight: 600;
}
.project .right h2 {
    font-size: 25px;
    color: #3b566e;
    font-weight: 600;
    line-height: 32px;
}
.project .right p {
    font-size: 16px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.project .right .btn-1 {
    background: #10d596;
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
}

/*--------------------------------------------------
[6. Start Video]
--------------------------------------------------*/
.video {
    background: url("../img/bg/video-bg.png") center center no-repeat;
    background-size: cover;
    padding: 120px 0;
}
.video-icon .icon {
    background: #ffffff;
    color: #10d596;
    display: inline;
    font-size: 20px;
    padding: 22px 28px;
    border-radius: 200px;
    position: relative;
}

/* Pulse Animation */
.pulse {
    animation: pulse 1s infinite;
    animation-duration: 2s;
}

/* Keyframes */
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/*--------------------------------------------------
[7. Start Portfolio]
--------------------------------------------------*/
.portfolio .single-portfolio-item {
    position: relative;
    padding: 0;
}

.portfolio .single-portfolio-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #333333;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.portfolio .single-portfolio-item .overlay .content {
    font-size: 20px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    transition: all 0.2s ease-in;

}

.portfolio .single-portfolio-item .overlay .content h3 {
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    padding: 0;
    margin: 0;
}

.portfolio .single-portfolio-item .overlay .content p {
    font-size: 14px;
    font-weight: 400;
    color: #507bf5;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.portfolio .single-portfolio-item .overlay .content a {
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.portfolio .single-portfolio-item:hover .overlay {
    opacity: 0.95;
}

/*--------------------------------------------------
[8. Start checkout]
--------------------------------------------------*/
.checkout{
    background: #FFF;
    text-align: center;
    padding: 64px;
    font-weight: bold;
    color: #fff;
}

.checkout h3 {
    font-size: 2.5rem;
}
.btn{
    padding-left: 18px;
    padding-right: 18px;
}
.slick{
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 32px;
    margin-right: 32px;
}
.slick-text{
    z-index:  2;
    position: absolute;
    bottom: 0px;
    color: #fff;
    margin-left: 22px;
    width: 84%;
    font-size: 15px;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 20px;
}
.slick-text-subheading{
    font-size: 13px;
    color: #fff !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
/* .slick-overlay{
    position: absolute;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.15);
    z-index: 1;
} */
/* .favcyX.slick-prev:before{
    background: #802456;
}
.favcyX.slick-next:before{
    background: #802456;
}
.favcyN.slick-prev:before{
    background: #D417D5;
}
.favcyN.slick-next:before{
    background: #D417D5;
} */
.slick-prev:before{
    background: #802456;
}
.slick-next:before{
    background: #802456;
}
/*--------------------------------------------------
[8. Start Benefits]
--------------------------------------------------*/
.benefits {
    padding: 64px 0;
    background: #FFF;
}
.benefits .heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.benefits .line {
    background: #000;
    height: 2px;
    width: 50px;
    margin-bottom: 50px;
    display: inline-block;
}
.benefits .box {
    padding: 0 30px;
}
.benefits .box h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0 10px;
    padding: 0;
}
/* .benefits .box p {
    font-size: 15px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
} */
.benefits .mb-30 {
    margin-bottom: 40px;
}
.benefits .mb-301 img{
    height: 60px;
}
.benefits .mb-302 img{
    height: 50px;
}
.benefits .mb-303 img{
    height: 60px;
}



.benefits .btn-1{
    background: rgb(26, 58, 129);
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2s ease-in;
}
/*--------------------------------------------------
[9. Start Team]
--------------------------------------------------*/
.our-team {
    padding: 60px 0;
}
.our-team .heading {
    font-size: 30px;
    color: #3b566e;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.our-team .line {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.our-team .box {
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.05);
    background: #ffffff;
    border-radius: 5px;
}
.our-team .box .image {
    position: relative;
}
.our-team .box .info .team{
    margin-top: 10px;
    color: #8C9399;
}
.our-team .box .info .team1{
    margin-top: 10px;
    color: #3B566E;
}
.our-team .box .image img {
    width: 100%;
}
.our-team .box .image .social-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    padding: 13px 20px 10px;
    border-radius: 35px;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.our-team .box .image .social-icon i {
    font-size: 20px;
    text-transform: none;
    color: #ffffff;
    padding: 0 10px;
}
.our-team .box:hover .social-icon {
    opacity: 1;
    margin-top: 0;
}
.our-team .info {
    padding: 30px 0;
}
.our-team .info h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #3b566e;
}
.our-team .info span {
    font-size: 14px;
    font-weight: 400;
    color: #8c9399;
}
.our-team del{
color: red;
}
/*--------------------------------------------------
[10. Start Get Started]
--------------------------------------------------*/

.get-started {
    background: url("../img/bg/get-started.png") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    color: white;
}
.get-started .heading {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.get-started .line {
    background: white;
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.get-started.box {
    padding: 0 30px;
    color: white;
}
.get-started .box h3 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin: 20px 0 10px;
    padding: 0;
}
.get-started .box p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 26px;
    margin: 0;
    padding: 0;
}
.get-started  {
    margin-bottom: 40px;
}

.get-started .mb-30 img{
    height: 80px;
}












/* .get-started {
    background: url("../img/bg/get-started.png") center center no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: #ffffff;
}
.get-started span {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.get-started h3 {
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0 0;
}
.get-started .btn-1 {
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.1);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 25px;
    display: inline-block;
} */

/*--------------------------------------------------
[11. Start Testimonials]
--------------------------------------------------*/
.testimonials {
    padding: 60px 0;
}
.testimonials .heading {
    font-size: 30px;
    color: #3b566e;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.testimonials .line {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.testimonials .box {
    background: #ffffff;
    border-radius: 8px;
    background: linear-gradient(to left, rgba(4,195,225,1) 0%, rgba(4,195,225,1) 12%, rgba(4,195,225,1) 47%, rgb(80, 123, 245) 100%) left bottom #fff no-repeat;
    background-size: 100% 5px;
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.05);
    position: relative;
    margin: 48px 15px 0;
    padding: 90px 30px 50px;
}
.testimonials .box img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -47px;
    width: 110px;

}
.testimonials .box h3 {
    font-size: 20px;
    color: #3b566e;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.testimonials .box span {
    font-size: 14px;
    color: #8c9399;
    font-weight: 400;
}
.testimonials .box p {
    font-size: 15px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.h1{
    font-weight: bold;
}
.slick-list {
    outline: none !important;
}
.slick-slide:focus {
    outline: none;
}
.slick-dots li button:before {
    font-family: 'slick';
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    text-indent: -9999px;
    margin-top: 40px;
}

/*--------------------------------------------------
[12. Start Project-2]
--------------------------------------------------*/
.project-2 {
    padding: 80px 0 120;
}
.project-2 .left span {
    font-size: 16px;
    color: #557ff5;
    font-weight: 600;
}
.project-2 .left h2 {
    font-size: 25px;
    color: #3b566e;
    font-weight: 600;
    line-height: 32px;
}
.project-2 .left p {
    font-size: 16px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}
.project-2 .left .btn-1 {
    background: #10d596;
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
}

/*--------------------------------------------------
[13. Start Our Price]
--------------------------------------------------*/
.modal-body{
    padding: 0;
}

.modal-body ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    color: #5b7388;
    border-bottom: 1px solid #f6f6f7;
    padding: 10px 0;
}
.modal-body ul{
    padding: 0;
}
.our-price {
    padding: 60px 0;
}
.our-price .heading {
    font-size: 30px;
    color: #3b566e;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.our-price .line {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
    display: inline-block;
}
.our-price .box {
    background: #ffffff;
    border-radius: 7px;
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.05);
    padding: 50px 0px 0px;
    position: relative;
    transition: all .5s ease-in-out;
    min-height: 100%;
}
.our-price .box:hover {
    transform: translateY(-15px);
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.09);
}
.our-price .box-center {
    box-shadow: 2px 2px 35px 0 rgba(0,0,0,0.1);
}
.our-price .box h3 {
    font-size: 18px;
    font-weight: 700;
    color: #4b6fd2;
    text-transform: uppercase;
}
.our-price .box h4 {
    font-size: 16px;
    font-weight: 500;
    color: #a8acaf;
    margin-bottom: 20px;
    margin-top: 20px;
}
.our-price .box h4 span {
    font-size: 50px;
    font-weight: 700;
    color: #4B6FD2;
}

.our-price .box span.blue {
    color: #4b6fd2;
}
.our-price .box ul {
    margin: 0;
    padding: 0;
}
.our-price .box ul li {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    color: #5b7388;
    border-bottom: 1px solid #f6f6f7;
    padding: 10px 0;
}
.our-price .box .btn-2 {
    background: transparent;
    border: 1px solid #1e3056;
    text-decoration: none;
    color: #1e3056;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.icon-social {
    margin-right: 10px
}

.our-price .box .btn-3 {
    background: #4B6FD2;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    border: 1px solid #4B6FD2;
    text-decoration: none;
    color: #fff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 42px;
    margin-bottom: 20px;
    display: inline-block;
}

.our-price .box .top-btn {
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 0;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -17px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}

.our-price .box .top-btn1 {
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 0;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -17px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
}


.our-price .box .btn-1 {
    background: #10d596;
    box-shadow: 1px 1px 30px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: #ffffff;
    border-radius: 65px;
    padding: 10px 45px;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-top: 42px;
    margin-bottom: 20px;
}

/*--------------------------------------------------
[14. Start Clients]
--------------------------------------------------*/
.clients {
    padding: 120px 0;
    background: url("../img/bg/clients.png") center center no-repeat;
    background-size: cover;
}

.clients .item {
    margin: 0 20px;
}

/*--------------------------------------------------
[15. Start Contact Us]
--------------------------------------------------*/
.contact {
    padding: 120px 0;
}

.contact .heading h2 {
    font-size: 30px;
    color: #3b566e;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 0;
}
.contact .line {
    background: linear-gradient(to right, #507bf5 0%,#04c3e1 100%);
    height: 2px;
    width: 50px;
    margin-bottom: 50px;
    display: inline-block;
}

.contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin-bottom: 10px;
    background: #f1f1f5;
    border: 0;
    border-radius: 10px;
}

.contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #10d596;
    color: #ffffff;
}

.contact .title h3 {
    font-size: 18px;
    font-weight: 600;
}

.contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin: 0 0 40px;
}

.contact .content .info {
    margin-top: 30px;
}

.contact .content .info i {
    font-size: 30px;
    padding: 0;
    margin: 0;
    color: #02434b;
    margin-right: 20px;
}

.contact .content .info h4 {
    font-size: 13px;
    line-height: 1.4;
}

.contact .content .info h4 span {
    font-size: 13px;
    font-weight: 300;
    color: #999999;
}

/*--------------------------------------------------
[16. Start Footer]
--------------------------------------------------*/
.footer {
    padding: 60px 20px 20px 20px;
    background: #151a2b;
}
.footer p {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    margin: 20px 0 0;
}

/*--------------------------------------------------
[17. Start Page Loading]
--------------------------------------------------*/
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
/* .se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader/LOGO-ALPHA.gif") center no-repeat #fff;
} */

/*--------------------------------------------------
[18. Start Media Query]
--------------------------------------------------*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 383.98px) {

    /* .navbar{
        background: #6ccff4 !important;
    } */
    .navbar-light .navbar-toggler {
        border-color:#fff;

    }
    .slider{
    /* background-size: cover; */
    background-position: center center;
    }
    .slider .content .left .btn-1 {
        margin-bottom: 20px;   
    }
    .slider .content .left .btn-2 {
        margin-left: 0;
    }
    .navbar .logoSmall{
        margin-bottom: 0px;
        margin-left: -10px;
        width: 70% 
    }
    .logoSmall {
        height: 55px;
    }
    .mainTitle{
        margin-top: 0px !important;
    }
    .slider .content .left h1{
        line-height: 30px
    }

    .slider .content .left h2 {
        font-size: 13px !important;
    }
    .features {
        padding: 30px 0 10px !important;
    }

    .subHeadingOnSmall{
        font-size: 25px !important;
    }

    .marginToMinus25PX{
        margin-top: -25px !important;
    }
    .iconImageSize {
        width: 50% !important;
    }
    .benefits .mb-30 img {
        height: 60px;
    }

    .benefits {
        padding: 60px 0 50px !important;
    }

    .our-team{
        padding: 30px 0 10px !important;
    }

    .marginTop25px{
        margin-top: 25px;
    }

    .get-started .line {
        background: white;
        height: 2px;
        width: 50px;
    }

    .marginTop50PX{
        margin-top: 50px;
    }

    .marginLeft0{
        margin-left:0px !important;
    }

    .paddingBottom0PX{
        padding-top: 0px;
    }

    #our-price{
        padding-bottom: 0px !important;
    }

    .marginTopMinus50PX{
        margin-top: -50px;
    }

    .paddingBottom60PX{
        padding-bottom: 60px;
    }
    .overlay{
        height: 340px !important;
    }

}


@media (min-width: 384) and (max-width: 575.98px) {
    /* Navbar */
    .navbar {
        padding: 15px 20px;
    }
    .navbar .nav-item .nav-link {
        margin: 20px 0 10px;
    }
    .navbar .btn-1 {
        margin: 20px 0;
        display: inline-block;
    }
    .mainTitle{
        margin-top: 0px;
    }

    /* Slider */
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content {
        text-align: center;
    }
    .slider .content .left {
        margin-bottom: 40px;
    }

    /* Features */
    .features {
        padding: 120px 0 90px;
    }
    .features .box {
        margin-bottom: 30px;
    }

    /* Some Facts */
    .some-facts {
        padding: 80px 0 30px;
    }
    .some-facts .items {
        margin-bottom: 50px;
    }

    /* Some Project */
    .project .right {
        margin-top: 40px;
    }

    /* Some Benefits */
    .benefits {
        padding: 60px 0 80px;
    }
    .benefits .box {
        margin-bottom: 40px;
    }

    /* Our Team */
    .our-team {
        padding: 60px 0 90px;
    }
    .our-team .box {
        margin-bottom: 30px;
    }

    /* Some Project-2 */
    .project-2 .left {
        margin-bottom: 40px;
    }

    /* Some Our Price */
    .our-price {
        padding: 120px 0 90px;
    }
    .our-price .box {
        margin-bottom: 30px;
    }

    /* Some Contact Us */
    .contact .content {
        margin-bottom: 40px;
    }
    .overlay{
        height: 442px;
    }
    .slider{
        background-position: center center;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .text-left-xs {
        text-align: left !important;
        margin-top: 26px
    }
    /* Navbar */
    /* .navbar {
        padding: 15px 20px;
    } */
    .navbar .nav-item .nav-link {
        margin: 20px 0 10px;
    }
    .navbar .btn-1 {
        margin: 20px 0;
        display: inline-block;
    }
    .navbar .btn-2{
        margin-left: 0px;
        display: block;
        width: fit-content;
    }

    /* Slider */
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content {
        text-align: center;
    }
    
    /* Features */
    .features {
        padding: 120px 0 90px;
    }
    .features .box {
        margin-bottom: 30px;
    }

    /* Some Facts */
    .some-facts {
        padding: 80px 0 30px;
    }
    .some-facts .items {
        margin-bottom: 50px;
    }

    /* Some Project */
    .project .right {
        margin-top: 40px;
    }

    /* Some Benefits */
    .benefits {
        padding: 60px 0 80px;
    }
    .benefits .box {
        margin-bottom: 40px;
    }

    /* Our Team */
    .our-team {
        padding: 120px 0 90px;
    }
    .our-team .box {
        margin-bottom: 30px;
    }
    /* Team */
    .our-team .box .image .social-icon {
        width: 40%;
    }

    /* Some Project-2 */
    .project-2 .left {
        margin-bottom: 40px;
    }

    /* Some Our Price */
    .our-price {
        padding: 120px 0 90px;
    }
    /* .our-price .box {
        margin-bottom: 30px;
    } */

    /* Some Contact Us */
    .contact .content {
        margin-bottom: 40px;
    }

    .our-price {
        padding: 0px 0 90px;
    }
    .overlay{
        height: 442px;
    }
    .slider{
        background-position: center center;
    }
    .slick-text{
        z-index:  2;
        position: absolute;
        bottom: 0px;
        color: #fff;
        margin-left: 22px;
        width: 84%;
        font-size: 13px;
        overflow: hidden;
        background: rgba(0,0,0,0.7);
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 20px;
    }
    .slick-text-subheading{
        font-size: 11px;
        color: #fff !important;
        padding-top: 8px;
        padding-bottom: 8px;
    }

}


/* Medium devices (tablets, less than 992px) */
@media  (max-width: 991.98px) {
    /* Navbar */
    .navbar {
        background: rgba(0,0,0, 0.9) !important; 
        padding: 0px;
    }

    .navbar-red {
        background: rgb(0,0,0) !important;
    }

    .navbar .logoSmall{
        margin-left: 0px;
        width: 110px;
        height: 40px;
        margin-top: 8px; 
    }
    .navbar a{
    margin-left: 20px;
    width: 62%
    }

    .navbar button{
        margin-right: 20px;
    }

    .navbar .navbar-collapse{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    /* .navbar-transparent{
        background: rgba(108, 207, 244, 0.9) !important;
    } */
    .navbar .nav-item .nav-link {
        margin: 20px 0 10px;
    }
    .navbar .btn-1 {
        margin: 20px 0;
        display: inline-block;
    }
    /* Slider */
    .slider {
        height: auto;
        padding: 120px 0;
    }
    .slider .content .left h1 {
        font-size: 35px;
        line-height: 40px
    }
    .slider .content .left h2 {
        font-size: 15px;
    }

    /* Some Facts */
    .some-facts {
        padding: 80px 0 30px;
    }
    .some-facts .items {
        margin-bottom: 50px;
    }

    /* Team */
    .our-team .box .image .social-icon {
        width: 70%;
    }

    .paddingBottom60PX{
        padding-bottom: 60px;
    }

    .our-price{
        margin-top: 60px;
    }

    .overlay{
         height: 390px;
         width: 100%;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

.iconImageSize {
    width: 35%;
}

.marginTop73Percent{
    margin-top: 73% !important;
}

/*-- 12. Footer-Area --*/

.footer-area {
    padding-top: 100px;
    padding-bottom: 70px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.footer-area.v1 {
    padding-top: 160px;
}

.footer-area.v2 {
    background-image: url('../images/bbg.png');
    background-size: 100% 100%;
    background-position: bottom center;
    padding-top: 350px;
}

.footer-area.v3 {
    background-image: url('../images/footer-bg-3.png');
    background-size: 100% 100%;
}

/*-- 12.1 Footer-Widget-Area --*/

.footer-widget-area .widget {
    margin-bottom: 30px;
}

.footer-widget-area .widget .widget-title {
    font-size: 20px;
}

.footer-widget-area .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget-area .widget ul li {
    margin-bottom: 5px;
}

.footer-widget-area .widget ul li:last-child {
    margin-bottom: 0;
}


.footer-widget-area .widget ul li a {
    color: #686b75;
}

.footer-widget-area .widget ul li a:hover {
    color: #0297f3;
}

.footer-widget-area .widget ul li a:before {
    content: "\f105";
    font-family: 'FontAwesome';
    margin-right: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer-widget-area .widget ul li a:hover:before {
    margin-right: 15px;
}

.footer-area.v4 .footer-widget-area .widget ul li a:hover {
    color: #1cc9bd
}


/* footer css start */
.paddingOnDiv{

    text-align: left;
  }
  
  .centreTheImage{
    display: block;
    margin-left: 0 auto 0;
  }
  
  .width50Percent{
    width: 50%;
  }
  
  .footerLeftDiv{
  margin-top: 10%;
  font-size: 14px;
  }
  
  .textCenter{
    text-align: center;
  }
  
  .footerDiv{
  color: white;
  font-family: Nunito;
  }

  .footerDiv1 a:hover{
    color: #10d596 !important;
    font-family: Nunito;
   }
    
  .marginTop30PX {
    margin-top: 30px;
  }
  
  .fontSize18PX{
    font-size: 18px;
  }
  
  .underline{
    height: 1px;
    background-color: white;
    width: 40px;
  }
  
  .width30PercentImportant{
  width: 30% !important;
  }
  
  .displayNone{
    display: hidden;
  }
  
  .floatLeft{
    float:left;
    padding-left: 20px;
    margin-top: 20px;
  }
  
  .socialColor{
    width: 10%;
  }

  .paddingLeftNoneOverride {
      padding-left: 0 !important;
  }

  .marginLeft29Percent{
      margin-left: 29%;
  }
  .position-relative{
      position: relative;
  }

  
  
  /* footer css ends */